/* style.css */

.form-container {
    background-color:#1617188c;
    max-width: 450px;
    margin: 2rem auto; 
    padding: 1rem 2rem 1.5rem;
    border-radius: 3%;    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.164); /* Sombreamento suave */
}

.form-container .text {
    margin: 5px;      
    text-align: center;
    color: #fff;
}

.form-container .text h2 {
    font-size: 30px;
    text-shadow: 2px 1px 3px #0f0f0fd0;
}

.form-container .row label,
.form-container .row p {
    font-size: 15px;
    margin: 20px 0 5px 0px;
    color: #fff;
}

.form-container .row p {
    text-align: center;
}

.form-container .row p a {
    color:#688d38;
}

.form-container input {
    padding: 10px;
    font-size: 14px;
    background-color: #161718;
    border: 1px solid #2e3133;
    border-radius: 4px;
    width: 100%;
    color: #fff;
    box-sizing: border-box;
}

/* Cor do input ao focar */
.form-container input:focus {   
    color: #fff; 
    background-color: #161718;
    border: 1px solid #2e3133;
    outline: none; 
}

.form-container input::placeholder {
    color: #bebebe; 
}

.botao {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao button {
    width: 100%;
}

.form-container button {
    padding: 10px 40px;
    font-size: 15px;
    background: #688d38;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer {
    margin-top: 5%;
}

input:invalid.touched,
textarea:invalid.touched {
    border: 1px solid rgb(124, 0, 0);
}

.error-message {
    color: rgb(168, 0, 0);
    font-size: 0.8em;
    margin-top: 5px;
}

button:disabled {
   background-color: #688d3894; 
    cursor: default;  
}

/* mobile style */

@media (max-width: 700px) {

    .form-container {
        margin: 20px;
    }

    .form-container .text {
        margin: 20% 0 10%;  
    }
}

@media (max-width: 400px) {

    .form-container {
        margin: 0;
        background-color: rgb(0, 0, 0);
    }
}

